{% extends "_base.html" %}
{% block html_head_title %}No Access{% endblock %}
{% block content %}
  <h1>No Permissions :(</h1>
  <p>You have not permissions to view this page.
  <p><a href="{{ url_for('index') }}">Go somewhere nice</a>
{% endblock %}