{% extends "_base.html" %}
{% block html_head_title %}Page Not Found{% endblock %}
{% block content %}
  <h1>Page Not Found</h1>
  <p>What you were looking for is just not there.
  <p><a href="{{ url_for('index') }}">Go somewhere nice</a>
{% endblock %}