<!DOCTYPE html>
<html lang="en" class="full">
{%- block html_head %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block html_head_title %}{{ title if title else 'O`Library' }}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Theme -->
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
{%- endblock %}
  <body>
    {%- block header %}
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">O`Library</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('books') }}">Books</a></li>
            {% if user.is_authenticated() %}
            <li><a href="{{ url_for('wishlist') }}">Wishlist</a></li>
            {% endif %}
            {% if user.is_authenticated() and user.role == 'Publisher' %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashboard <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('overview') }}">Overview</a></li>
                <li><a href="{{ url_for('added_books') }}">My Added books</a></li>
                <li><a href="{{ url_for('add_book') }}">Add new book</a></li>
              </ul>
            </li>
            {% endif %}
            <li><a href="{{ url_for('help_page') }}">Help</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_anonymous() %}
            <li><a href="{{ url_for('signup') }}">Signup</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
            <li><a href="{{ url_for('edit_account') }}">Edit</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
{#            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>#}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {%- endblock %}

    <div class="container">
    {%- block content %}
    {%- endblock %}
    </div>

    {%- block footer %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {%- endblock %}
  </body>
</html>