{% extends "_base.html" %}
{%- block content %}
<h1>Add Book</h1>
<hr />
<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <fieldset>
    <label>Name *</label>
    <div class="form-group">
      {{ form.name(class="form-control", placeholder="Enter Book Name", type="text", autofocus="") }}
    </div>
    {% if form.name.errors %}
      {% for error in form.name.errors %}
        <div class="form-group">
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        </div>
      {% endfor %}
    {% endif %}

    <label>Authors *</label>
    <div class="form-group">
      {{ form.authors(class="form-control", placeholder="Enter Authors", type="text", value="") }}
    </div>
    {% if form.authors.errors %}
      {% for error in form.authors.errors %}
        <div class="form-group">
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        </div>
      {% endfor %}
    {% endif %}

    <label>ISBN</label>
    <div class="form-group">
      {{ form.isbn(class="form-control", placeholder="Enter ISBN", type="text", value="") }}
    </div>
    {% if form.isbn.errors %}
      {% for error in form.isbn.errors %}
        <div class="form-group">
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        </div>
      {% endfor %}
    {% endif %}

    <label>Category *</label>
    <div class="form-group">
      {{ form.category()}}
    </div>
    {% if form.category.errors %}
      {% for error in form.category.errors %}
        <div class="form-group">
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        </div>
      {% endfor %}
    {% endif %}

    <label>Description</label>
    <div class="form-group">
      {{ form.description(class="form-control", placeholder="Enter Description", type="text", value="") }}
    </div>
    {% if form.description.errors %}
      {% for error in form.description.errors %}
        <div class="form-group">
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        </div>
      {% endfor %}
    {% endif %}

    <label>Book Cover *</label>
    <div class="form-group">
      {{ form.img() }}
    </div>
    {% if form.img.errors %}
      {% for error in form.img.errors %}
        <div class="form-group">
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        </div>
      {% endfor %}
    {% endif %}

    <label>PDF *</label>
    <div class="form-group">
      {{ form.pdf() }}
    </div>
    {% if form.pdf.errors %}
      {% for error in form.pdf.errors %}
        <div class="form-group">
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        </div>
      {% endfor %}
    {% endif %}
    <!-- Change this to a button or input when using this as a form -->
    <button class="btn btn-sm btn-success">Add</button>
  </fieldset>
</form>

{%- endblock %}