{% extends "_base.html" %}
{%- block content %}
<h1>My Added Books</h1>
<hr />
{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <div class="form-group">
       <div class="alert alert-success" role="alert">{{ message }}</div>
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

{% if books|length > 0 %}
<table class="table table-striped" border="1">
  <thead>
    <tr>
      <th>Book Name</th>
      <th>Author</th>
      <th>Action</th>
    </tr>
  </thead>
  {% for book in books %}
  <tr>
    <td>{{ book.name }}</td>
    <td>{{ book.authors }}</td>
    <td>
      <a class="btn btn-success"
         href="{{ url_for('view_book', book_id=book.id) }}">
        View
      </a>
    </td>
  </tr>
  {% endfor %}
  </table>
{% else %}
  <h3>You have not added any book yet</h3>
  <br>
  <h4><a href="{{ url_for('add_book') }}">Just do it!</a></h4>
{% endif %}
{%- endblock %}