{% extends "_base.html" %}
{%- block content %}
  <div class="row">
    <div class="btn-group-vertical pull-left col-md-2" style="padding-top:80px; margin-left:-40px;">
	  <button type="button" class="btn btn-default disabled ">Category</button>
      <a href="{{ url_for('books') }}" class="btn btn-default" style="border-top: 1px solid white;">All</a>
      {% for category in categories %}
      <a href="{{ url_for('books', category=category) }}" class="btn btn-default" style="border-top: 1px solid white;">
        {{ category }}
      </a>
      {% endfor %}
    </div>
    <div class="col-md-9">
      <h1>Books</h1>
      <hr />
      {% if books|length > 0 %}
        {% for book in books %}
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="{{ url_for('send_cover', filename=book.img_filename) }}" style="width=100%; height: 190px;" alt="Book Cover"/>
                <div class="caption">
                  <b class="img-heading">{{ book.name }}</b>
                  <p>
                  <b>Author</b>: {{ book.authors }}<br />
                  <b>Category</b>: {{ book.category }}
                  </p>
                  <a class="btn btn-primary"
                     href="{{ url_for('book_details', book_id=book.id) }}">
                    Details
                  </a>
                  <a class="btn btn-warning" href="#">Share</a>
                </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h3>No books yet</h3>
      {% endif %}

    </div>
  </div>
{%- endblock %}