{% extends "_base.html" %}
{%- block content %}
<br />
  <div class="row">
    <div class="col-md-8">
	  <div class="panel panel-primary">
	    <div class="panel-heading">
		  <h1>Book Details</h1>
        </div>
		<div class="panel-body">
		  <img img src="{{ url_for('send_cover', filename=book.img_filename) }}"
		  height="250" width="auto" class="col-md-5 pull-right" />
		  <div class="col-md-7">
		    <table class="table table-striped">
              <tr>
			    <th>Book Name</th>
				<td style="text-align: right">{{ book.name }}</td>
              <tr />
			  <tr>
			    <th>Author</th>
			    <td style="text-align: right">{{ book.authors }}</td>
			  <tr />
			  <tr>
			    <th>ISBN No</th>
				<td style="text-align: right">{{ book.isbn }}</td>
              <tr />
			  <tr>
			    <th>Category</th>
				<td style="text-align: right">{{ book.category }}</td>
              <tr />
			  <tr>
			    <th>Description</th>
				<td style="text-align: right">{{ book.description }}</td>
              <tr />
            </table>
            <a href="{{ url_for('download', book_id=book.id) }}" class="btn btn-primary">
			  <span class="glyphicon glyphicon-download-alt"></span>
              Download
			</a>
            <a href="{{ url_for('add_to_wishlist', book_id=book.id) }}" class="btn btn-info">
              <span class="glyphicon glyphicon-star"></span>
              Add to Wish List
			</a>
          </div>
        </div>
      </div>
    </div>

    {% if suggestedBook %}
    <div class="col-md-3">
      <div style="text-align:center; background-color: whitesmoke; font-size:14px; color:dimgray; padding: 5px;">
		<b>Similar book</b>
      </div>
      <div class="thumbnail">
        <img id="img" src="{{ url_for('send_cover', filename=suggestedBook.img_filename) }}"
             alt="Book Cover"/>
          <div class="caption">
            <b class="img-heading">{{ suggestedBook.name }}</b>
            <p>
              <b>Author</b>: {{ suggestedBook.authors  }}<br />
              <b>Category</b>: {{ suggestedBook.category }}
            </p>
            <a class="btn btn-primary"
               href="{{ url_for('book_details', book_id=suggestedBook.id) }}">
                Details
            </a>
            <a class="btn btn-warning" href="#">Share</a>
          </div>
      </div>
    </div>
    {% endif %}
  </div>
{%- endblock %}