{% extends "_base.html" %}
{%- block content %}
<h1>Edit Account</h1>
<hr />
<h3>{{ user.email }}</h3>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="form-group">
         <div class="alert alert-success" role="alert">{{ message }}</div>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<form role="form" action="{{ url_for('edit_account') }}" method="POST">
  {{ form.csrf_token }}
  <fieldset>
    <div class="form-group">
      {{ form.curr_password(class="form-control", placeholder="Current Password", type="password", value="", autofocus="") }}
    </div>
    {% if form.curr_password.errors %}
      {% for error in form.curr_password.errors %}
        <div class="form-group">
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        </div>
      {% endfor %}
    {% endif %}

    <div class="form-group">
      {{ form.new_password(class="form-control", placeholder="New Password", type="password", value="") }}
    </div>
    {% if form.new_password.errors %}
      {% for error in form.new_password.errors %}
        <div class="form-group">
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        </div>
      {% endfor %}
    {% endif %}

    <div class="form-group">
      {{ form.confirm(class="form-control", placeholder="Again", type="password", value="") }}
    </div>
    {% if form.confirm.errors %}
      {% for error in form.confirm.errors %}
        <div class="form-group">
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        </div>
      {% endfor %}
    {% endif %}
    <!-- Change this to a button or input when using this as a form -->
    <button class="btn btn-sm btn-success">Edit</button>
  </fieldset>
</form>
{%- endblock %}