{% extends '_base.html' %}
{%- block content %}
<h1>Help</h1>
<hr />
<p style="font-size: 16px">
<h4>User types and their corresponding facilities are listed below</h4>
</p>
<table class="table table-striped" border="2">
  <thead>
    <tr>
      <th class="text-center">Facility</th>
      <th class="text-center">Visitor</th>
      <th class="text-center">Registered as User</th>
      <th class="text-center">Registered as Publisher</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      <td>View Books and Details</td>
      <td><i class="glyphicon glyphicon-ok"></i></td>
      <td><i class="glyphicon glyphicon-ok"></i></td>
      <td><i class="glyphicon glyphicon-ok"></i></td>
    </tr>
    <tr class="text-center">
      <td>Download Books</td>
      <td><i class="glyphicon glyphicon-remove"></i></td>
      <td><i class="glyphicon glyphicon-ok"></i></td>
      <td><i class="glyphicon glyphicon-ok"></i></td>
    </tr>
    <tr class="text-center">
      <td>Upload Books</td>
      <td><i class="glyphicon glyphicon-remove"></i></td>
      <td><i class="glyphicon glyphicon-remove"></i></td>
      <td><i class="glyphicon glyphicon-ok"></i></td>
    </tr>
  </tbody>
</table>
{%- endblock %}