{% extends "_base.html" %}
{%- block content %}
<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="login-panel panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
      <form role="form" action="{{ url_for('login') }}" method="POST">
        {{ login_form.csrf_token }}
        <fieldset>
          <div class="form-group">
            {{ login_form.email(class="form-control", placeholder="E-mail", type="email", autofocus="") }}
          </div>
          {% if login_form.email.errors %}
            {% for error in login_form.email.errors %}
              <div class="form-group">
                <div class="alert alert-danger" role="alert">{{ error }}</div>
              </div>
            {% endfor %}
          {% endif %}

          <div class="form-group">
            {{ login_form.password(class="form-control", placeholder="Password", type="password", value="") }}
          </div>
          {% if login_form.password.errors %}
            {% for error in login_form.password.errors %}
              <div class="form-group">
                <div class="alert alert-danger" role="alert">{{ error }}</div>
              </div>
            {% endfor %}
          {% endif %}

          <div class="checkbox">
            <label>
              {{ login_form.remember(type='checkbox') }}Remember Me
            </label>
          </div>
          <div class="form-group">

          </div>
          <!-- Change this to a button or input when using this as a form -->
          <button class="btn btn-sm btn-success">Login</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="col-md-4"></div>
{%- endblock %}
