{% extends '_base.html' %}
{%- block content %}
<h1>Overview</h1>
<hr/>
{% if books|length > 0 %}
<table class="table table-striped" border="1">
  <thead>
    <tr>
      <th>Book Name</th>
      <th>Author</th>
      <th>Description</th>
      <th>Total Access</th>
      <th>Total Downloads</th>
    </tr>
  </thead>
  {% for book in books %}
  <tr>
    <td>{{ book.name }}</td>
    <td>{{ book.authors }}</td>
    <td>{{ book.description }}</td>
    <td>{{ access[loop.index0] }}</td>
    <td>{{ downloads[loop.index0] }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
    <h3>No books yet</h3>
{% endif %}
{%- endblock %}