{% extends "_base.html" %}
{%- block content %}
<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="login-panel panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
      <form role="form" action="{{ url_for('signup') }}" method="POST">
        {{ signup_form.csrf_token }}
        <fieldset>
          <div class="form-group">
            {{ signup_form.email(class="form-control", placeholder="E-mail", type="email", autofocus="") }}
          </div>
          {% if signup_form.email.errors %}
            {% for error in signup_form.email.errors %}
              <div class="form-group">
                <div class="alert alert-danger" role="alert">{{ error }}</div>
              </div>
            {% endfor %}
          {% endif %}

          <div class="form-group">
            {{ signup_form.password(class="form-control", placeholder="Password", type="password", value="") }}
          </div>
          {% if signup_form.password.errors %}
            {% for error in signup_form.password.errors %}
              <div class="form-group">
                <div class="alert alert-danger" role="alert">{{ error }}</div>
              </div>
            {% endfor %}
          {% endif %}

          <div class="form-group">
            {{ signup_form.password2(class="form-control", placeholder="Again", type="password", value="") }}
          </div>
          {% if signup_form.password2.errors %}
            {% for error in signup_form.password2.errors %}
              <div class="form-group">
                <div class="alert alert-danger" role="alert">{{ error }}</div>
              </div>
            {% endfor %}
          {% endif %}

          <div class="form-group>">
            {{ signup_form.role(class="radio-inline") }}
          </div>
          <!-- Change this to a button or input when using this as a form -->
          <button class="btn btn-sm btn-success">Signup</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="col-md-4"></div>
{%- endblock %}
