{% extends "_base.html" %}
{%- block content %}
  <br>
  <br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
	  <div class="panel panel-primary">
	    <div class="panel-heading">
		  <h1>Book Details</h1>
        </div>
        <div class="panel-body">
          <img src="{{ url_for('send_cover', filename=book.img_filename) }}"
               height="250px" width="300px" class="col-md-5 pull-right" />
          <div class="col-md-7">
            <table class="table table-striped">
              <tr>
                <th>Book Name</th>
                <td>{{ book.name }}</td>
              <tr />
              <tr>
                <th>Author</th>
                <td>{{ book.authors }}</td>
              <tr />
              <tr>
                <th>ISBN No</th>
                <td>{{ book.isbn }}</td>
              <tr />
              <tr>
                <th>Category</th>
                <td>{{ book.category }}</td>
              <tr />
              <tr>
                <th>Description</th>
                <td>{{ book.description }}</td>
              <tr />
              <tr>
                <th>Access Count</th>
                <td>{{ access }}</td>
              </tr>
              <tr>
                <th>Download Count</th>
                <td>{{ downloads }}</td>
              </tr>
            </table>
            <div class="pull-right">
              <form method="post" action="{{ url_for('delete_book', book_id=book.id) }}">
                <a class="btn btn-primary"
                   href="{{ url_for('edit_book', book_id=book.id) }}"><i class="fa fa-edit"></i> Edit</a>
                <input type="hidden" name="bookId" value="{{ book.id }}" />
                <button type="submit" class="btn btn-danger"
                        onclick="return confirm('Are you sure to delete book: {{ book.name }}?')">
                  <i class="fa fa-trash"></i> Delete
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endblock %}
