{% extends "_base.html" %}
{% block content %}
<h1>Wish List</h1>
<hr />
{% if wish_books|length > 0 %}
<table class="table table-striped" border="1">
  <thead>
	<tr>
	  <th>Book Name</th>
	  <th>Author</th>
	  <th>Action</th>
	</tr>
  </thead>
	{% for book in wish_books %}
	<tr>
	  <td>{{ book.name }}</td>
	  <td>{{ book.authors }}</td>
	  <td>
		<a class="btn btn-info"
		   href="{{ url_for('book_details', book_id=book.id) }}">
			Details
		</a>
		<a class="btn btn-primary"
		   href="{{ url_for('download', book_id=book.id) }}">
			Download
		</a>
		<a class="btn btn-danger"
		   href="{{ url_for('delete_from_wishlist', book_id=book.id) }}">
			Remove
		</a>
	  </td>
	</tr>
	{% endfor %}
</table>
{% else %}
<h3>
Sorry, you have no books in wish list
</h3>
{% endif %}
{% endblock %}